@use '../abstract/list' as styles;

.calculator {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 26rem;
  height: 52rem;
  padding: 3rem 2.5rem;

  background-color: styles.$color-light-transparent;
  border-radius: 3.9rem;

  &:before {
    content: '';

    position: absolute;
    top: 20px;
    left: 50px;
    z-index: -1;

    width: 250px;
    height: 450px;
    background-color: styles.$color-shadow-light;
    border-radius: 70px;
    filter: blur(20px);
    box-shadow: 20px 40px 100px styles.$color-shadow-light;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
}
