@use '../abstract/list' as styles;

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: end;

  width: 26rem;
  height: 52rem;
  padding: 3rem 2.5rem;

  background-color: styles.$color-light-transparent;
  border-radius: 3.9rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
}
