@use '../abstract/list' as styles;

.circle {
  position: absolute;
  top: 19vh;
  left: 42vw;
  z-index: -1;

  width: 50rem;
  height: 50rem;

  background: linear-gradient(
    to left top,
    styles.$color-primary,
    styles.$color-primary-m
  );
  border-radius: 50%;
}
