$color-primary: #ff9500;
$color-primary-s: #efe8de;
$color-primary-m: #eeb767;

$color-light-s: #ffffff;
$color-light-m: #d1d4d1;
$color-light-l: #d4d4d2;

$color-dark-s: #505050;
$color-dark-m: #17181a;
$color-dark-l: #000000;
