$color-primary: #ff9500;
$color-primary-xs: #efe8de;
$color-primary-s: #e3cdad;
$color-primary-m: #f3c691;

$color-light-s: #ffffff;
$color-light-m: #d1d4d1;
$color-light-l: #d4d4d2;
$color-light-transparent: rgba(255, 255, 255, 0.5);

$color-dark-s: #505050;
$color-dark-m: #17181a;
$color-dark-l: #000000;
$color-dark-transparent: rgba(0, 0, 0, 0.25);
