$color-primary: #ff9500;
$color-primary-xs: #efe8de;
$color-primary-s: #e3cdad;
$color-primary-m: #f3c691;

$color-secondary: #2f3640;
$color-secondary-l: #171e28;
$color-secondary-transparent: #11181fe3;

$color-light-s: #ffffff;
$color-light-m: #f3f3f3;
$color-light-l: #acacc1;
$color-light-transparent: rgba(255, 255, 255, 0.5);

$color-dark: #505050;
$color-dark-transparent: rgba(0, 0, 0, 0.25);

$color-shadow-light: rgba(84, 0, 0, 0.29);
$color-shadow-dark: #212a333d;
